:root {
  --background: #eee;
  --foreground: #000;
  --card-background: #f8f8f8;
  --card-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.05);
  --status-bar-highlight-start: 0.25;
  --status-bar-highlight-end: 0.5;

  @media (prefers-color-scheme: dark) {
    --background: #111;
    --foreground: #fff;
    --card-background: #222;
    --card-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.2);
    --status-bar-highlight-start: 0;
    --status-bar-highlight-end: 0.75;
  }
}
